/* .demo{

    position: absolute;
width: 1440px;
height: 62px;
left: 0px;
top: 0px;

background: #2B439C;
} */
.Card1{

    position: absolute;
width: 436px;
height: 293px;
left: 720px;
top: 270px;

background: #F0F1F4;
border-radius: 10px;
}
.Card2{
    position: absolute;
    width: 436px;
    height: 293px;
    left: 235px;
    top: 270px;
    
    background: #F0F1F4;
    border-radius: 10px;

}

input{
     position: absolute;
width: 361px;
height: 62px;
left: 38px;
top: 150px;

background: #ffffff;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 6px; 
font-size: large;
}
select{
    position: absolute;
width: 361px;
height: 62px;
left: 29px;
top: 50px;

/* #FFFFFF */
background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 6px;
font-size: large;
}


.topnav {
    overflow: hidden;
    background-color: #2B439C;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #2B439C;
  }
  
  .topnav a.active {
    background-color: #6b80ce;
    color: white;
  }

  .table{

    position: absolute;
    width: 921px;
    height: 781px;
    left: 235px;
    top: 216px;
    
    
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 6px;
  }

  .currencyTable{
    position: absolute;
    width: 921px;
    height: 781px;
    left: 235px;
    top: 170px;
    
    
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 240%;
  }
