.Converter {
  width: 100%;
  padding: 0 15%;
  box-sizing: border-box;
  text-align: center;
}
.Form {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.Form input,
select {
  padding: 5px;
  margin: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgba(119, 119, 119, 0.5);
}
.Form button {
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(11, 170, 59);
  color: white;
  border: none;
}
.Converter h3 {
  background-color: #ccc;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
}
.Converter h2 span {
  color: rgb(11, 170, 59);
}
h3{
  position: absolute;
width: 445px;
height: 21px;
left: 235px;
top: 187px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
/* identical to box height */

/* Gray 1 */
color: #333333;
}

h1{
  position: absolute;
width: 242px;
height: 33px;
left: 300px;
top: 50px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */

/* Gray 1 */
color: #333333;
}
table{
  position: absolute;
width: 921px;
height: 781px;
left: 235px;
top: 216px;

/* #FFFFFF */
background: #FFFFFF;
border: 1px solid #BFBFBF;
box-sizing: border-box;
border-radius: 6px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 240%;
}

h2{
  position: absolute;
width: 242px;
height: 33px;
left: 240px;
top: 100px;

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */

/* Gray 1 */
color: #333333;
}